.lpc_desktop.lpc_card__button {
    border-top: 1px solid #ffffff !important;
    background: #dfd7f5 !important;

}

.lpc_desktop.lpc_card__button button {
    background: #e7e4e3 !important;
    margin-bottom: 0 !important;
    color: #000 !important;
}

.lpc_desktop.lpc_card {
    border: 1px solid #fff !important;
    border-radius: 20px 20px 20px 0 !important;
    overflow: hidden !important;
    max-width: none !important;
}
  
  
