.lpc_desktop.lpc_card__button {
    border-top: 1px solid #ffffff !important;
    background: #ffffff !important;

}

.lpc_desktop.lpc_card__button button {
    background: #026CB6!important;
    margin-bottom: 0 !important;
    color: #f7f7f7 !important;
    border-radius: 20px 20px 20px !important
}

.lpc_desktop.lpc_card {
    border: 1px solid #fff !important;
    border-radius: 20px 20px 20px 0 !important;
    overflow: hidden !important;
}
  
  
